@CHARSET "UTF-8";

body {
	font-family: Actor, sans-serif;
	background-image: url(/themes/blue/images/background.png);
	background-repeat: repeat-x;
	background-attachment:fixed;
	background-color: #192862;
}

#page-container {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}

#item_goal {
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}

#item_goal label {
	float: left;
	width: 100px;
	height: 40px;
	font-size: 24pt;
}

#home_shortcuts {
	width: 400px;
	float: left;
}

#home_leaderboard {
	width: 500px;
	float:right;
}

h1, h2, h3, h4, h5, h6, h7 {
	font-family: Amaranth, sans-serif;
}

h1 {
	font-size: 18pt;
	color: #192862;
	width: 400px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #192862;
	margin-bottom: 15px;
}

h3 {
	font-size: 12pt;
	margin-top: 10px;
	margin-bottom: 10px;
}

a:link, a:visited {
	color: #192862;
}

a:hover {
	color: #DAA520;
}

#header {
	width: 960px;
	height: 110px;
	float: left;
	margin-bottom: 5px;
}

#logo {
	float: left;
	height: 101px;
	width: 102px;
}

#title {
	font-size: 24px;
	color: #FFF;
	font-family: 'Hammersmith One', sans-serif;
	margin-top: 10px;
	padding-bottom: 5px;
	padding-top: 10px;
	margin-bottom: 5px;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #DAA520;
	float: none;
	width: 700px;
	margin-left: 105px;
}
#tag {
	font-size: 14px;
	font-family: 'Hammersmith One', sans-serif;
	color: #FFF;
	width: 700px;
	margin-left: 105px;
	margin-top: 4px;
}

img.logo {
	margin-top:2px;
	margin-bottom: 2px;
}

#header-info {
	width: 960px;
	float: left;
	font-size: 10pt;
	color: #fff;
	text-align: right;
}

#header-info a:link, #header-info a:visited {
	color: #fff;
}

#header-info a:hover {
	color: #DAA520;
}

#menu-container {
	float: left;
	width: 960px;
	background-color: #BDD2FF;
}

#content-container {
	float: left;
	width: 920px;
	min-height: 300px;
	background-color: #eee;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 20px;
}

#footer {
	float: left;
	width: 960px;
	height: 30px;
	background-color: #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

table {
	border: 3px solid #000;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

thead tr {
	background-color: #708090;
}

thead td {
	font-weight: bold;
	text-align: center;
}

thead td[colspan] {
	text-align: left;
}

tr.line1 {
	background-color: #fff;
}

tr.line2 {
	background-color: #DCDCDC;
}

td {
	border: 2px solid #fff;
	padding: 4px;
}

tfoot tr {
	background-color: #708090;
}

#home_leaderboard td {
	font-size: 10pt;
}

p {
	margin-bottom: 15px;
}

ul {
	list-style-type: disc;
	padding-left: 25px; 
}

li {
}

dl dt {
	float: left;
	width: 150px;
	font-size: 11pt;
	padding: 3px;
}

dl dd {
	padding: 3px;
}

#blockInfo {
	padding: 0 5px 10px 0;
}

#blockInfo div {
	font-size: 14pt;
	font-weight: bold;
	padding-bottom: 10px;
}

#bidLeftCol {
	width: 370px;
	float: left;
}

#bidRightCol {
	width: 530px;
	float: right;
}

#bidLeftCol table {
    margin: 0;
    width: 100%;
}

#bidLeftCol td {
	font-size: 14pt;
}

#bidLeftCol td input {
    height: 24px;
    font-size: 14pt;
}

#bidLeftCol input[type='button'], #bidLeftCol input[type='reset'] {
    width: 120px;
    height: 40px;
    font-size: 16pt;
    padding: 8px;
}

#item_name {
    font-size: 10pt !important;
}

#bidRightCol td {
	font-size: 10pt;
}

#bidLeftCol h1 {
	width: 300px;
}

#bidRightCol h1 {
	width: 550px;
}

#confirm_winner {
    float: left;
    width: 500px;
}

#confirm_items {
    float: right;
    width: 400px
}

#confirm_items table {
    width: 400px;
}

#card_info {
    clear: both;
    margin-top: 5px;
}

td.left {
	text-align: left;
}

td.center {
	text-align: center;
}

td.right {
	text-align: right;
}

.red {
    color: #B22222;
}

.green {
    color: #32CD32;
}

.currentBlock {
	background-color: #6AFF6A;
}

.closedBlock {
	background-color: #FF3333;
}

