@CHARSET "UTF-8";

body {
	background: #050423 url('../images/bg_bidBoard_new.jpg') no-repeat top center;
}

#container {
	width: 1920px;
	height:1080px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #000;
}

.logo {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

/* Total dimensions: 1720x800 */
#bid_board {
    width: 1560px;
    height:650px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: rgba(230, 229, 216, 0.5);
    padding: 10px 50px 20px 50px;
}

#header h1 {
	font-family: 'Hammersmith One', sans-serif;
	font-size: 54px;
	color: #FFF;
	padding-top: 28px;
	margin-left: 160px;
}

#header h2 {
	font-family: Actor, sans-serif;
    font-size: 40px;
    color: #FFF;
    padding-top: 25px;
    margin-left: 225px;
}

#board {
	margin-top: 5px;
	margin-left: 50px;
}

#board thead td {
    color: #fff;
    font-size: 40px;
    height: 20px;
}

#board td {
	font-family: Amaranth, sans-serif;
    font-size: 50px;
    font-weight: 700;
	padding: 8px;
	height: 25px;
	color: #FFF;
	vertical-align: middle;
}

#board tbody td {
    color: #FFD101;
}

#board tbody td.bell-ringer {
    font-size: 55px;
    color: #00D936;
}

#board td:nth-child(1) {
	width: 110px;
    text-align: center;
}

#board td:nth-child(2) {
    width: 1000px;
}

#board td:nth-child(3) {
    width: 160px;
    text-align: center;
}

#board td:nth-child(4) {
    width: 160px;
    text-align: center;
}
